*{
    margin: 0%;
    padding: 0%;
}
.asd{
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    background: linear-gradient(45deg,rgb(1, 61, 192),rgb(59, 5, 209),rgb(121, 8, 228));
    background-size: 400% 400%;
    position: absolute;
    animation-name: anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: .5s;

}
/* @-webkit-keyframes anmi{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
} */
@keyframes anim{
    0%{top: 20px;left: 20px; width: 100px;background-position: 0 50%;}
    20%{ top: 20px;left: 100px; width: 500px; background-position: 100% 50%;}
    40%{background-position: 0%,50%;}
    /* 60%{background: linear-gradient(45deg,blue, rgb(104, 6, 216));}
    80%{background: linear-gradient(45deg,rgb(104, 6, 216),rgb(230, 5, 238));}
    100%{background: linear-gradient(45deg,rgb(230, 5, 238),rgb(212, 6, 68));} */
}

.zxc{
    width: 100px;
    height: 100px;
    top: 130px;
    left: 30px;
    background: linear-gradient(45deg,rgb(2, 238, 100),rgb(80, 216, 2));
    background-size: 400% 400%;
    position: absolute;
    animation-name: anm;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    border-radius: 50px;
 
}
@keyframes anm{
    0%{top: 130px;left: 30px; width: 100px; background-position: 0% 50%;}
    20%{top: 130px;left: 110px; width: 500px; background-position: 100% 50%;}
    40%{background-position: 0% 50%;}
    /* 60%{background: linear-gradient(45deg,blue, rgb(104, 6, 216));}
    80%{background: linear-gradient(45deg,rgb(104, 6, 216),rgb(230, 5, 238));}
    100%{background: linear-gradient(45deg,rgb(230, 5, 238),rgb(212, 6, 68));} */
}